
.rates {
  border-collapse: collapse;
  width: 100%;
  min-width: 30em;
  margin: 0 auto;
  text-align: center;
}

.rates td:first-child {
  text-align: left;
  width: 20em;
  text-overflow: ellipsis;
}

.rates td, .rates th {
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.rates tbody tr:nth-of-type(2n) {
  background-color: #ffb;
}

.open-marker::after {
  content: "+";
}

.secondary-group tr.secondary {
  display: none;
}

.secondary-group.expanded tr.secondary {
  display: table-row;
}

.secondary-group.expanded .open-marker::after {
  content: "-";
}

.cur-separator {
  font-size: 80%;
  width: 4em;
  background-color: #ddd;
}
